body {
    margin: auto;
/*max-width:850px;*/
    font-family: Georgia;
    font-weight: 100;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-weight: 600;
    font-size: 35px;
    font-family: Georgia;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    padding-bottom: 3px;
}

img#g-ai0-0.g-aiImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    max-width: 500px;
    margin: auto;
/*max-width:850px;*/
    font-family: Georgia;
    font-weight: 100;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

p.byline {
    text-align: center;
    font-size: 13px;
}

.w3-table-all tr:nth-child(odd) {
    background-color: #fff;
}

.w3-table-all tr:nth-child(even) {
    background-color: #f1f1f1;
}

.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th {
    padding: 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child {
    padding-left: 16px;
}

.w3-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

.w3-border-0 {
    border: 0 !important;
}

.w3-border {
    border: 1px solid #ccc !important;
}

.w3-border-top {
    border-top: 1px solid #ccc !important;
}

.w3-border-bottom {
    border-bottom: 1px solid #ccc !important;
}

.w3-border-left {
    border-left: 1px solid #ccc !important;
}

.w3-border-right {
    border-right: 1px solid #ccc !important;
}

.w3-table-all {
    border: 1px solid #ccc;
}

.w3-bordered tr,.w3-table-all tr {
    border-bottom: 1px solid #ddd;
}
