body {
	margin:auto;
	/*max-width:850px;*/
  max-width:500px;
	font-family: Georgia;
	font-weight:100;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	font-weight:600;
	font-size:35px;
	font-family: Georgia;
	text-align: center;
}

h2{
	font-size: 20px;
	font-weight:800;
	margin-top:20px;
	padding-bottom: 3px;

}

div#g-untitled-Artboard_1.ai2html {
	float: right;
}

p.byline {
	text-align: center;
	font-size: 13px;
}

/*td {
    border: 1px solid black;
		border-collapse: collapse;
}*/

table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.w3-table,.w3-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

table {
		    border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: #f1f1f1;
}

/*table, th, td {
	font-family: Arial;

	padding: 7px;
	text-align: left;
	border-spacing: 5px;
}*/
